{{>layout/header}}

<h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            {{#userName}}
                Logged in as: <span id="user"><img src="{{userImage}}">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">Kakao Login</a>
            {{/userName}}
        </div>
    </div>
    <div>
        <a href="/posts">자유게시판</a> <p/>
        <a href="/party">모임게시판</a>
    </div>
</div>
